<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================타이틀아이콘-->	
		<link rel="icon" type="image/png" href="C:\GitHub\GxSx\GxSx\src\main\webapp\resources\images/icons/favicon.ico"/>
	
	<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="C:\GitHub\GxSx\GxSx\src\main\webapp\resources\css/util.css">
		<link rel="stylesheet" type="text/css" href="C:\GitHub\GxSx\GxSx\src\main\webapp\resources\css/main.css">
	<!--===============================================================================================-->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script
  src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
  crossorigin="anonymous"></script>

    <script src="C:\GitHub\GxSx\GxSx\src\main\webapp\resources\js\bulma-validator.js"></script>

      <script defer src="C:\GitHub\GxSx\GxSx\src\main\webapp\resources\js\app.js"></script>
        <style>
        .section { margin: 150px auto; }
      </style>
<!--==============================================================================================-->
	</head>
	<body>
		
		<div class="limiter">
			<div class="container-login100">
				<div class="wrap-login100 p-l-50 p-r-50 p-t-77 p-b-30">
					<form class="login100-form validate-form">
						<span class="login100-form-title p-b-55">
							Sign up
						</span>
	                   <form>
<div class="field">
  <label class="label">Name</label>
  <div class="control has-icons-right">
    <input class="input" type="text" placeholder="Name input" data-validation="uname">
  </div>
  <p class="help is-danger">Type Your Username Here!</p>
</div>

<div class="field">
  <label class="label">ID</label>
  <div class="control has-icons-left has-icons-right">
    <input class="input" type="text" placeholder="Text input" data-validation="userid">
    <span class="icon is-small is-left">
      <i class="fas fa-user"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="fas fa-check"></i>
    </span>
  </div>
  <p class="help is-success">This ID is available</p>
</div>
                           
<div class="field">
  <label class="label">Password</label>
  <div class="control has-icons-left has-icons-right">
    <input class="input" type="password" placeholder="Password input"  data-validation="upwd">
    <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
  </div>
  <p class="help is-danger">This Password is invalid</p>
</div>

<div class="field">
  <label class="label">Email</label>
  <div class="control has-icons-left has-icons-right">
    <input class="input" type="email" placeholder="Email input"  data-validation="uemail">
    <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>

  </div>
  <p class="help is-danger">This email is invalid</p>
</div>
                           
<div class="field">
  <label class="label">Phone Number</label>
  <div class="control has-icons-right">
    <input class="input" type="text" placeholder="Text input" data-validation="upnum">
  </div>
  <p class="help is-danger">Type Your PhoneNumber Here!</p>
</div>


<div class="field">
  <div class="control">
    <label class="checkbox">
      <input type="checkbox">
      I agree to the <a href="#">terms and conditions</a>
    </label>
  </div>
</div>

<div class="container-login100-form-btn p-t-25">
  <div class="container-login100-form-btn p-t-25">
    <button class="login100-form-btn" type="submit">Submit</button>
  </div>    
  <div class="container-login100-form-btn p-t-25">
    <button class="login100-form-btn">Cancel</button>
  </div>
</div>					
					
</form>

	<!--===============================================================================================-->	
		<script src="C:\GitHub\GxSx\GxSx\src\main\webapp\resources\vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
		<script src="C:\GitHub\GxSx\GxSx\src\main\webapp\resources\vendor/bootstrap/js/popper.js"></script>
		<script src="C:\GitHub\GxSx\GxSx\src\main\webapp\resources\vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
		<script src=".C:\GitHub\GxSx\GxSx\src\main\webapp\resources\vendor/select2/select2.min.js"></script>
	<!--===============================================================================================-->
		<script src="C:\GitHub\GxSx\GxSx\src\main\webapp\resources\js/main.js"></script>
	
	</body>
</html>