<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sansil.gxsx.mapper.TempMapper">

	<select id="list" resultType="LostItem">
		<![CDATA[
			select * from (select * from LostItem order by LONO desc) where ROWNUM <=3
		]]>
	</select>
	
</mapper>